<!DOCTYPE html>
<html>
<head>
    <script src="~/js/cecilifier.js"></script>
    <script src="~/js/cecilifier.settings.js"></script>
    <script src="~/js/release_notes.js"></script>

    <!-- Snackbar -->
    <link rel="stylesheet" href="~/lib/js-snackbar-1.5/dist/js-snackbar.min.css">
    <script src="~/lib/js-snackbar-1.5/dist/js-snackbar.min.js"></script>
        
    <!-- Tippy.js -->
    <script src="https://unpkg.com/@@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>

    <link rel="stylesheet" href="~/css/release_notes.css">
    <link rel="stylesheet" href="~/css/button.css">
    <link rel="stylesheet" href="~/css/spinner.css"/>

    <link rel="stylesheet" href="https://unpkg.com/keyboard-css@1.2.4/dist/css/main.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Text|Roboto&display=swap" rel="stylesheet">  

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Cecilifier is a tool aiming to make learning using Mono.Cecil easier by taking code snippets and generating Cecil APIs calls that creates an assembly equivalent to the compiled code snippet. It may also help you to learn more about MSIL (also known simply as IL)." />

    <title>Cecilifier - Learn Mono.Cecil by example</title>
    
    <div class="alert error" id="cecilifier_error">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <div></div>
    </div>
    
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>

    <style>
        .fab:hover
        {
            opacity: 1;
            color: none;
        }

        .fab
        {
            opacity: 0.5;
            color: none;
        }

        a:link { color: black; text-decoration:none; }
        a:visited { color: black; text-decoration:none; }

        #inner {
            display: table;
            margin: 0 auto;
        }
    </style>
    
    <!-- ALERT -->
    <style>
        .alert {
            display: table;
            padding: 10px;
            width: 100%;
            background-color: #f44336;
            color: white;
            opacity: 1;
            transition: opacity 0.6s;
            margin: 0 auto 15px;
            font-family: 'Big Shoulders Text',monospace;
            font-size: 14px; 
            text-align: center
         }

        .alert.info2 { background-color: #888888; opacity: 0 }
        .alert.success { background-color: #4CAF50;}
        .alert.info { background-color: #2196F3;}
        .alert.warning { background-color: #ff9800;}
        .alert.error { background-color: #620b05; color: #eae6c1; text-align: left; position: absolute; opacity: 0; font-size:22px}

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }
    </style> 
</head>
<body onload="showReleaseNotes()">

<div class="container body-content" style="width: 100%">
    @RenderBody()
    <footer>
        <div class="back_social">
            <div id="inner">
                <a class="fab fa-linkedin" href="https://www.linkedin.com/in/adrianoc/" target="_li_cecilifier"></a>
                <a class="fab fa-github" href="https://github.com/adrianoc/cecilifier"target="_gh_cecilifier"></a>
                <a class="fab fa-twitter" href="https://twitter.com/adrianoverona"target="_tw_cecilifier"></a>
                <a class="fab fa-blogger" href="https://programing-fun.blogspot.com/"target="_bs_cecilifier"></a>
                <a class="fab fa-stack-overflow" href="https://stackoverflow.com/users/157321/vagaus"target="_so_cecilifier"></a>
                <a class="fab fa-patreon" href="https://www.patreon.com/cecilifier"target="_pa_cecilifier"></a>
                <a class="fab fa-discord" href="https://discord.gg/dhF5BCW"target="_pa_cecilifier"></a>
            </div>
            <p id="inner" style="font-family: 'Nunito+Sans', cursive; font-size: 12px;">&copy; 2021 - Adriano Carlos Verona (<span id="cecilified_counter">@CecilifierApplication.Count</span>)</p>
        </div>
    </footer>
</div>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>
