body {
    font-family: 'Lato', sans-serif;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    font-family: "Lato", sans-serif, Verdana, Geneva, Tahoma;
    font-size: 14pt;
    background-color: #111;
    color:darkorange;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #61056dc5;
    display: block;
    transition: 0.3s;
  
  }
  .sidenav a:visited {
    color: #b70cce;
  }

  .sidenav a:hover{
    color: #d6063a;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }  

  .styled-background { background-color: #ff7; }