/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */

html {
    height: 100%;
}

body {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.back_social
{
    background: rgb(209, 206, 206);
    width: 100%;
    border-left: 10px solid white;
    border-right: 10px solid white;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.toggle label
{
    vertical-align: middle;
    margin-bottom: 0px;
}

#postToDiscordLabel
{
    vertical-align: middle;
    margin-bottom: 0;
}

.tippy-box[data-theme~='cecilifier-tooltip'] {
    font-weight: bold;
}

.tippy-box[data-theme~='assembly_references_tip'] {
    background-color: #72060e;
    color: gold;
    font-size: 16px;
}

#cecilifierSettings {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#cecilifierSettings td, #cecilifierSettings th {
  border: 1px solid #ddd;
  padding: 7px;
}

#cecilifierSettings tr:nth-child(even){background-color: #f2f2f2;}
#cecilifierSettings tr:nth-child(odd){background-color: #aca9a9ad;}

#cecilifierSettings tr:hover {background-color: #ddd;}

#cecilifierSettings th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4c72f0be;
  color: rgb(0, 0, 0);
}

#cecilifierSettings tr {
    text-align: left;
}
  
.cecilifier-input {
    border:rgb(0, 0, 0);
}

input::placeholder {
    color:#0001023b
}

.current_settings_class {
    background: #72060e;
}

.line_arrow:before {
    content:"\2B95";
    font-size: 20px;
}            
