/* unvisited link */
div.shortcut a:link {
    color: #d7f678;
}

div.shortcut a:visited {
    color: #91f191;
}

div.shortcut a:hover {
    color: #f6e490;
}

div.shortcut a:active {
    color: #7474ea;
}

div.shortcut:hover {
    background-color: rgba(127, 14, 142, 0.5);
}
