@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Cecilifier is a set a tool / library meant to make it easier to learn how to use <a href="https://github.com/jbevain/cecil">Mono.Cecil</a> by accepting C# code snippets and generating source code that, using the Mono.Cecil API calls produces an assembly that is equivalent to the compiled version of the code snippet passed to it.
    You can read more details about it in its <a href="https://programing-fun.blogspot.com/2019/01/making-it-easier-to-getting-started.html">blog announcement</a>
    Feel free to send comments, issues, MRs, etc; I cannot promise I'll be responsive but I'll do my best.
</p>
