@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<div>
    <a href="https://groups.google.com/forum/#!forum/cecilifier" target="_blank">Cecilifier Google Groups</a><br />
    <a href="https://twitter.com/adrianoverona" target="_blank">@@adrianoverona</a><br />
    <a href="https://patreon.com/cecilifier" target="_blank">Patreon</a><br />
</div>