@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
</address>

<address>
    <strong>email:</strong> <a href="mailto:seila@gmail.com">Sei la</a>
</address>
