@page
@model CecilifierApplication
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@functions
{
}

@{
    ViewData["Title"] = "Cecilifier";
}
<br/>
<div>
        <div class="form-group">
            <label class="control-label">Enter your C# code</label>
            <textarea id="_csharpcode"></textarea>
        </div>
        
        <button type="submit" id="sendbutton">Cecilifier your code!</button>
        
        <div class="form-group">
            <label class="control-label">Cecilified Code</label>
            <textarea id="_cecilifiedcode"></textarea>
            <div style="font-family:Lucida Console; font-size: 2">Editor powered by https://github.com/ashmind/mirrorsharp</div>
        </div>
</div>

<script>
    var websocket;
    var sendButton;
    var cecilifiedCode;
    var csharpCode;
    
    var csharpeditor = CodeMirror.fromTextArea(
        document.getElementById("_csharpcode"), 
        {
            lineNumbers: true,
            matchBrackets: true,
            mode: "text/x-csharp",
            theme: "blackboard"
        });

    var editor = CodeMirror.fromTextArea(
        document.getElementById("_cecilifiedcode"), 
        {
            lineNumbers: true,
            matchBrackets: true,
            mode: "text/x-csharp",
            theme: "darcula"
        });

    
    initializeWebSocket();
    
    function initializeWebSocket() {
        var scheme = document.location.protocol === "https:" ? "wss" : "ws";
        var port = document.location.port ? (":" + document.location.port) : "";
        var connectionURL = scheme + "://" + document.location.hostname + port + "/ws" ;
        
        websocket = new WebSocket(connectionURL);
        
        sendButton = document.getElementById("sendbutton");
        cecilifiedCode = document.getElementById("_cecilifiedcode");
        csharpCode = document.getElementById("_csharpcode");
        
        sendbutton.onclick = function() {
            if (!websocket || websocket.readyState !== WebSocket.OPEN) {
                alert("socket not connected");
                return;
            }
            websocket.send(csharpeditor.getValue());
        };
        
        websocket.onopen = function (event) {
        };
        
        websocket.onclose = function (event) {
        };
        
        websocket.onerror = function(event) {
            console.error("WebSocket error observed:", event);
        };
        
        websocket.onmessage = function (event) {
            // this is where we get the cecilified code back...
            editor.setValue(event.data);
        };
    }
</script>